body {
     font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #a19d9d;
}

header {
    display: flex;
    background-color: #333;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}