body {
     font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dfdbdb;
}

header {
    background-color: #006D6F;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #031615;
    padding: 12px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 40px;
}

nav a {
     text-decoration: none;
      color: white;
      margin: 0 20px;
      font-weight: 600;
      font-size: 18px;
      letter-spacing: 0.5px;
    }

    nav a:hover {
      color: #ff6347;
      text-decoration: underline;
    }

    .cont {
        background-color: #006D6F;
        margin: 20px auto;
        max-width: 1210px;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease;
    }

    .cont:hover{
        box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15); 
    }

    .about-section {
        align-items: center;
        display: flex;
        gap: 30px;
        margin-bottom: 20px;
        flex-wrap: wrap;

    }

    .about-section img {
        border-radius: 12px;
        width: 290px;
        transition: transform 0.6s ease, box-shadow 0.6 ease;
        object-fit: cover;
    }
    
    .about-section img:hover{
        transform: scale(1.1);
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    }

    .about-text {
        flex: 1;
        min-width: 250px;
    }

    .about-text h2{
        color: #140f64;
        margin-top: 0;
    }

    .about-text p {
        font-size: 16px;
        line-height: 1.6;

    }

    .form-container{
        max-width: 900px;
        margin:30px auto;
        background-color: white;
        padding: 20px;
        border-radius: 12px;
        box-shadow: 0 6px 15px (0,0,0,0.1);
    }
    
    form {
        max-width: 600px;
        margin: 24px auto;
        
    }

    form label {
        display: block;
        margin-bottom: 8px;
        font-weight: 600;
    }
    
    form input, form textarea, form button {
    width: 100%;
    padding: 14px;
    margin-bottom: 16px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    }
    
    form input:focus, form textarea:focus {
    border-color: #97a99d;
    outline: none;
    }
    
    form button {
        background-color: #031615;
        color: white;
        font-size: 18px;
        font-weight: bold;
        padding: 15px;
        margin-top: 5px;
        display: block;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s ease;

    }

    form button:hover {
        background: darkcyan;
    }

    form button:active {
        background-color: aqua;
    }

    #result {
        color: green;
        text-align: center;
        margin-top: 15px;
        font-size: 18px;
    }

   

